@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-display: "Public Sans", sans-serif;
  --font-body: "Public Sans", sans-serif;
  --font-sans: "Public Sans", sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: #f8fcfc;
  --foreground: #1e293b;
  --card: #ffffff;
  --card-foreground: #1e293b;
  --popover: #ffffff;
  --popover-foreground: #1e293b;
  --primary: #0d9488;
  --primary-foreground: #ffffff;
  --secondary: #f0f9ff;
  --secondary-foreground: #0f766e;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --accent: #ccfbf1;
  --accent-foreground: #115e59;
  --destructive: #ef4444;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #0d9488;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #f8fcfc;
  --sidebar-foreground: #1e293b;
  --sidebar-primary: #0d9488;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ccfbf1;
  --sidebar-accent-foreground: #115e59;
  --sidebar-border: #e2e8f0;
  --sidebar-ring: #0d9488;
}

.dark {
  --background: #10221f;
  --foreground: #f6f8f8;
  --card: #152b28;
  --card-foreground: #f6f8f8;
  --popover: #152b28;
  --popover-foreground: #f6f8f8;
  --primary: #13ecc8;
  --primary-foreground: #10221f;
  --secondary: #1a3835;
  --secondary-foreground: #f6f8f8;
  --muted: #1a3835;
  --muted-foreground: #618983;
  --accent: #1a3835;
  --accent-foreground: #f6f8f8;
  --destructive: oklch(0.704 0.191 22.216);
  --border: #1a3835;
  --input: #1a3835;
  --ring: #13ecc8;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #10221f;
  --sidebar-foreground: #f6f8f8;
  --sidebar-primary: #13ecc8;
  --sidebar-primary-foreground: #10221f;
  --sidebar-accent: #1a3835;
  --sidebar-accent-foreground: #f6f8f8;
  --sidebar-border: #1a3835;
  --sidebar-ring: #13ecc8;
}

@layer base {
  html {
    font-size: 18px;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}