---
import AdminLayout from "../../layouts/AdminLayout.astro";
import RegistrationTable from "../../components/admin/RegistrationTable";
---

<AdminLayout title="Verifikasi Data - SPSMB Admin">
    <div class="mb-8">
        <h1 class="text-2xl font-bold text-slate-800">Verifikasi Data</h1>
        <p class="text-slate-500">Kelola dan verifikasi data pendaftar masuk</p>
    </div>

    <RegistrationTable client:only="react" />
</AdminLayout>
